.formTitle{
    font-family: 'PT Serif', serif;
    font-style: oblique;
    padding: 5px;
}
.form{
    display: flex;
    width: 100%;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
}

.form input{
    width: 25%;
    height: 34px;
    border: none;
    border-right: 1px solid #ADADAD;
    background: none;
    padding: 5px;
    color: white;
}
.form input:focus{
    outline: none;
}
.form textarea{
    flex-grow: 3;
    background: none;
    border: none;
    height: 35px;
    resize: none;
    line-height: 25px;
    padding: 5px;
    color: white;

}
.form textarea:focus{
    outline: none;
}

.formButton{
    display: flex;
    justify-content: flex-end;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
}
.formButton button{
    padding: 3px 8px;
    margin-left: 3px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.562);
    color: white;
}
.formButton button:hover{
    background: rgba(88, 87, 87, 0.562);
    cursor: pointer;   
}

.error{
    width: fit-content;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #363535;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    background:#D6D4D4;
    color: #363535;
    font-family: 'PT Serif', serif;
}

